.card-container {
  max-width: 80%;
  margin: auto;
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 3rem 0rem;
  text-align: center;
}

.card {
  background: #444;
  border: rgb(134, 33, 33) solid 3px;
}

.img-card {
  width: 100%;
  border-bottom: rgb(134, 33, 33) solid 3px;
}

@media screen and (max-width: 800px) {
  .card-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
